@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TheSalvadorCondensed';
    src: url('@/fonts/thesalvador-condensed-webfont.woff2') format('woff2'),
         url('@/fonts/thesalvador-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
